<ul class="nav nav-pills">
  {{#link-to "light-switch" tagName="li"}}<a href="/lightswitch">Switches</a>{{/link-to}}
  {{#link-to "light-scene" tagName="li"}}<a href="/lightscene">Scenes</a>{{/link-to}}
</ul>
