<ul class="nav nav-pills">
  {{#link-to "lighting" tagName="li"}}<a href="/lighting">Lighting</a>{{/link-to}}
  {{#link-to "thermostat" tagName="li"}}<a href="/thermostat">Thermostat</a>{{/link-to}}
  {{#link-to "garageDoor" tagName="li"}}<a href="/garageDoor">Garage Door</a>{{/link-to}}
  {{#link-to "cameras" tagName="li"}}<a href="/cameras">Cameras</a>{{/link-to}}
  <!--<li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>-->
</ul>