{{light-bar}}<hr>
<table cellpadding="100">
	{{#each lightscene in lightscenes}}
		<tr valign="top">
			<td>{{lightscene.name}}</td>
			<td>{{x-toggle theme='flip' toggle=switch.on}}</td>
		</tr>
	{{/each}}
</table>